@layout {
    <p>these aren't the droids you're looking for</p>
    <p>
        <input ng-model="item"/>
        <button type="button" class="btn btn-default"ng-click="createItem()"><span class="glyphicon glyphicon-plus"></span></button>
    </p>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
        </tr>
    </table>
}
